
<div id="example" data-ng-controller="reportsController" data-ng-init="foodquality()">

    <div id="example1" data-ng-controller="reportsController" data-ng-init="map()">

    <script type="text/javascript">

</script> </div>

    <div class="demo-section k-content">
        <div id="chart"></div>
    </div>
   
</div>

<div class="box-col">
            <button class='export-pdf k-button'>Save as PDF</button>
        </div>
