<div ng-include="'reports/views/partials/reports.client.header.html'"></div>
<div ng-include="'../../layout/topnav.html'"></div>

<section name="sidebar" ng-include="'reports/views/partials/reports.client.sidebar.html'" >
        </section>

        <section  ng-controller="reportsController" data-ng-init="guestChecksGenerateReport()">
          <div class="container">
          <div class="row">

          <div class="col-md-6">
               <h3>Guest Check V Guest Surverys</h3>
              <div class="row">
                  <h5 class="dark-grey">Date Range</h5>
                  <div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                      <span></span> <b class="caret"></b>
                  </div>

              </div>


              <button class="btn btn-danger pull-right" type="button" ng-click="guestChecksGenerateReport()"><i class="icon-trash icon-white"></i>Generate</button>




          </div>

            </div>




              <div class="row charts-container"  >

                   <div id="chart1"></div>
                  <div id="chart2"></div>
                  <hr>
                  <br>
                  <div id="chart3"></div>

                  <hr>
                  <br>
                  <div id="chart4"></div>

              </div>


              <div class="box-col">
                  <button class='export-pdf k-button'  >Export as PDF</button>
              </div>


              <div>

                  <br>
                  <br>
              </div>
          </div>



          </section>
