


 <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1316/styles/kendo.common.min.css" />

 
  

  
   
    
 


    <div ng-include="'reports/views/partials/reports.client.header.html'"></div>
<div ng-include="'../../layout/topnav.html'"></div>
<section name="sidebar" ng-include="'reports/views/partials/reports.client.sidebar.html'">
        </section>

<div class="container">
<!-- Sidebar -->
 
        
       
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        
            
                
                      <h3> Select the Reports from the Sidebar </h3>
                        


     <div class="demo-section k-content">
        <div id="chart"></div>

        <div id="chart1"></div>
    </div>
</div>
</div>



    
   

   

</body>

</html>