<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" data-ng-controller="NavController">
  <div class="list-group">
  	<ul class="list-group-item" ng-class="{active: ($location.path() == '/reports') }"><a href="#!/reports">Monthly</a></ul>
    <li class="list-group-item" ng-class="{active: ($location.path() == '/reports/staff') }"><a href="#!/reports/staff">Monthly staff report</a></li>
    <li class="list-group-item" ng-class="{active: ($location.path() == '/reports/foodcarlhome') }"><a href="#!/locations">home delivery Monthly </a></li>
    <li class="list-group-item" ng-class="{active: ($location.path() == '/reports/foodcarlhom') }"><a href="#!/locations/structure"> Guest Survey vs Guest Checks monthly</a></li><li class="list-group-item" ng-class="{active: ($location.path() == '/locations/create') }"><a href="#!/locations/create">Foodmark home delivery Monthly</a></li>
    <li class="list-group-item" ng-class="{active: ($location.path() == '/reports/foodcarlhom') }"><a href="#!/locations">Monthly Summary</a></li>
    <li class="list-group-item" ng-class="{active: ($location.path() == '/reports/foodcarlhom') }"><a href="#!/locations/structure"> Foodmark Monthly Summary</a></li>

  </div>
</div><!--/.sidebar-offcanvas-->
